// ===================
// button 1
// ===================
.button-1 {
    background: map.get($theme-colors, "secondary");
    border: 3px solid map.get($theme-colors, "secondary");
    border-radius: 50px;
    color: map.get($theme-colors, "accent");

    &.default {
        padding: .5rem 1rem;
    }
    &.full {
        width: 100%;
        padding: .5rem;
    }
    &.half {
        width: 50%;
        padding: .5rem;
    }
}

.button-1:hover {
    background: none;
    border: 3px solid map.get($theme-colors, "secondary");
    border-radius: 50px;
    color: map.get($theme-colors, "secondary");

    @include transition-ease;
}
// ===================
// button 2
// ===================
.button-2 {
    background: none;
    border: 3px solid map.get($theme-colors, "secondary");
    border-radius: 50px;
    color: map.get($theme-colors, "secondary");

    &.default {
        padding: .5rem 1rem;
    }
    &.full {
        width: 100%;
        padding: .5rem;
    }
    &.half {
        width: 50%;
        padding: .5rem;
    }
}
.button-2:hover {
    background: map.get($theme-colors, "secondary");
    border: 3px solid map.get($theme-colors, "secondary");
    border-radius: 50px;
    color: map.get($theme-colors, "accent");

    @include transition-ease;
}