// Media Variables
$media: (
  'small': 420px,
  'medium': 768px,
  'large': 1024px,
  'x-large': 1600px,
);

// Font Vairables
$fonts: (
  'heading': '',
  'paragraph': '',
  'secondary': '',
  'custom': '',
);

// Z-Indexes
$z-indexes: (
  'modal': 5000,
  'dropdown': 4000,
  'default': 1,
  'below': -1,
);
