// ---------------------------------
// map.get($variable, "value")
// ---------------------------------

// ===================
// media
// ===================
$media: (
  'small': 420px,
  'medium': 768px,
  'large': 1024px,
  'x-large': 1600px,
);

// ===================
// fonts
// ===================
$fonts: (
  'heading': '',
  'paragraph': '',
  'secondary': '',
  'custom': '',
);

// ===================
// z-indexes
// ===================
$z-indexes: (
  'modal': 5000,
  'dropdown': 4000,
  'default': 1,
  'below': -1,
);

// ===================
// colors
// ===================
$theme-colors: (
  'primary': #8e3329, 
  'secondary': #5a1321,
  'accent': #d98328,
  'foreground': #191919,
  'background': #e9e9e9,
  'white': #e9e9e9,
  'black': #191919,
);